@charset "UTF-8";
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  color: darkslategrey;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
  background-image: url(../img/clouds.png);
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

container {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  margin: 45px auto;
  background: white;
  padding: 15px 3%;
  border-radius: 3%;
}

header {
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  font-family: "Fauna One", serif;
  color: darkblue;
}

h2 {
  padding-bottom: 10px;
  margin-left: 10px;
}

form:nth-child(1) {
  padding-top: 20px;
}

input {
  display: block;
  width: 90%;
  margin-left: 10px;
}

#tip_amount {
  margin-left: 10px;
}

button {
  border-radius: 5px;
  width: 175px;
  height: 30px;
  display: block;
  margin: 0 auto;
  float: center;
  background-color: rgba(9, 9, 121, 1);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

button:hover {
  background: rgba(0, 212, 255, 1) 100%;
}

.total {
  height: 40px;
  color: black;
  margin-top: 20px;
}

footer {
  text-align: center;
  font-size: 10px;
  margin-top: 20px;
}

.data-input {
  padding-bottom: 35px;
}
